/* ======== COMMON STYLES ======== */
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #ffffff;
    max-width: 1440px;
}
.container {
    max-width:1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 141px;
    margin-right: 141px;
}
ol,
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
}
.section-paddings{
    padding-top: 60px;
    padding-bottom: 60px;
}
 /* ======== HEADER STYLES ======== */
 .page-header{
    padding-top: 12px;
    padding-bottom: 12px;
 }
 .page-header-container{
    display: flex;
    justify-content: space-between;
 }
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 74px;
}
.text-color-black{
    color: #2e2f42
}
.page-navigations{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
}
.menu-item:not(:last-child){
    margin-right: 40px;
}
.menu-link{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
}
.contacts{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
    display: flex;
}
.contacts-menu{
    display: flex;
}
.contacts-item:not(:last-child){
    margin-right: 40px;
}
.contacts-item{
    padding-top: 24px;
    padding-bottom: 24px;
}
.contacts-link{
        color: #434455;
}
.menu-link:hover,
.menu-link:focus{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
}
.contacts-link:hover,
.contacts-link:focus{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #404bbf;
}
/* ======== HERO STYLES ======== */

.hero{
    background: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.hero-container{
    padding-top: 188px;
    padding-bottom: 292px;
    padding-left: 331px;
    padding-right: 331px;
}
.hero-text{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-bottom: 48px;
}
.button-to-buy {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: 160px;
}
.button-to-buy:hover,
.button-to-buy:focus{
    background: #404bbf;
}
/* ======== BENEFITS STYLES ======== */
.benefits-list{
    display: flex;
    column-gap: 24px;
}
.benefits-item{
    width: calc((100% - 72px) / 4);
}
.section-of-benefits{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 50px;
}
.benefits{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.paragraph-of-benefits{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ======== PORTFOLIO STYLES ======== */
.portfolio-section{
    background: #f4f4fd;
}
.workers{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}
.workers-list{
    display: flex;
    column-gap: 24px;
    margin-left: 156px;
    margin-right: 156px;
}
.portfolio-section-items{
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}
.names{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.works-of-workers{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/*--========PORTFOLIO OF WORK========--*/
.portfolio-of-work-section{
    color: #ffffff;
    line-height: 1.11;
    text-transform: capitalize;
}
.portfolios-of-work{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 24px;
}
.work-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    margin-left: 156px;
    margin-right: 156px;
}
.work-item{
    width: calc((100% - 48px) / 3);
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        margin-top: 48px;
}
.app-tasks{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
/* ======== FOOTER STYLES ======== */
.page-footer{
    background: #2e2f42;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo-in-footer{
        color: #f4f4fd;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
}
.names-of-apps{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.contacts-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}
.text-color-white{
    color: #f4f4fd
}
